body.second-page{background: #FFFFFF;}
body.second-page #root{overflow-y: hidden;}
.disconnected-panel {margin-top: 100px;}
.header-balance {margin-left: 150px;}
.header-account-balance {margin-left: 15px;}
.panel-header {margin-bottom: 20px;}
.proposal-votes {margin-right: 10px;}
.proposal-vote-link {margin-left: 10px;}
.proposal-footer {margin-top: 15px;position: relative;}
.proposal-footer-finish-btn {position: absolute;right: 0;bottom: 0;}
.account-address_active {font-weight: bold;}
.account-balance_active {font-weight: bold;}
.ReactModal__Body--open {overflow: hidden;}
.current-price{font-size: 18px;}
.danger{color: darkred;font-size: 22px;font-weight: bold;margin-bottom: 24px;}
.social{
  float:right;
  position: relative;
  top: 3px;
  .dropdown.btn-group{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  ul{
  width: 364px;
    .share-button{
      float:left;
      margin: 0 2px;
    }
  }
}
#dropdown-basic-1{
  background: transparent;
  width: 110px;
  padding: 12px 0 9px 10px;
  color: #6c757e;
  border-radius: 21px;
  border: none;
  box-sizing: content-box;
}
.row{
  &.transactions-container{
    button.btn.btn-default.btn-lg{
      padding: 14px 16px;
    }
  }
}

.ReactModal__Content.ReactModal__Content--after-open{
  overflow: visible!important;
  top: 50px;
  transition: all 0.5s ease-in-out;
  button.close-modal{
    border: 1px solid #ccc;
    background: #3a3a3a;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 20px;
    font-family: monospace;
    line-height: 0;
    outline: none;
    color: #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    transform: rotate(45deg);
    padding: 0;
    margin: 0;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.5);
  }
  .form-buy-product, .form-member, .form-share-page{
    width: 100%;
    input[type=text],input[type=email] {
      padding: 6px 10px!important;
      border-radius: 6px;
      border: 1px solid #ccc;
    }
  }
}
#second_header{
  min-height: 770px;
  background: #FFFFFF;
  position: relative;
  top: -1px;
  left: 0;
  .container{
    min-height: 770px;
    .header_img{
      bottom: 0
    }
  }
}
a.hide-pending-transaction:hover{
  text-decoration: none;
}
.progress{
  background: transparent;
  .progress-bar{
    &.active{
      &:after{
        content: "";
        display: block;
        position: absolute;
        right: -7px;
        top: -7px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: white;
        box-shadow: 0 2px 2px 0 rgba(71,71,71,0.3);
      }
      width: 0;
      transition: width 2s ease-in-out;
      position: relative;
      .stock_graph{
        opacity: 0;
        position: absolute;
        left: 100%;
        top: 15px;
        -webkit-transform: scale(0, 0) rotate(27.6deg);
        -moz-transform: scale(0, 0) rotate(27.6deg);
        -ms-transform: scale(0, 0) rotate(27.6deg);
        -o-transform: scale(0, 0) rotate(27.6deg);
        transform: scale(0, 0) rotate(27.6deg);
        visibility: visible;
        margin-left: -112px;
        transition: all 2s ease-in-out;
      }
    }
  }
}
.window-message {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: #FFFFFF;
  padding: 15px;
  box-shadow: 0 -2px 2px 0 rgba(71,71,71,.15);
  .message{
    float:left;
    width: 100%;
    margin-bottom: 5px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .message-container{
    h4{
      float:left;
      margin-right: 15px;
      text-transform: uppercase;
      margin-top: 12px;
      min-width: 120px;
      text-align: right;
    }
    &.products-container{
      .panel{
        .panel-body{
          a{
            display: block;
            padding: 4px 15px;
          }
        }
      }
    }
    .panel{
      margin: 0;
      float:left;
      .panel-body{
        padding: 5px;
      }
    }
  }
  .alert{
    padding: 0;
    margin: 0;
  }
}
span.sh_coll > small,span.sh_coll > big{
  display: block;
}
#PlacesAutocomplete__autocomplete-container{
  z-index: 99999999;
  margin-top: -20px;
}

